.item{
    padding: 30px;
}

.userPhoto {
    height: 100px;
    width: 100px;
}

.btnUsers{
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: black;
    outline: none;
}

.selectedPage{
    font-weight: 700;
}

.spans span{
    padding: 2px;
}