.page{
    padding: 30px;
    
}

.userPhoto {
    height: 100px;
    width: 100px;
}

.btnUsers{
    padding: 10px 15px;
    margin: 10px 10px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
    outline: none;
}

.btnUsers:hover{
    color: black;
    background-color: #007cf0;
    transition: all .2s linear;
    transform: scale(1.07);
}

.pagesCount {
    cursor: pointer;
    font-size: 17px;
    padding: 10px 2px;
}

.selectedPage{
    color: #007cf0;
    font-weight: 700;
}

.userInfoBlock{
    margin-bottom: 20px;
}