.content{
  grid-area: content;
  background-color: blanchedalmond;
}

.postsBlock {
  padding: 10px 20px 10px;
}

.posts {
  margin-top: 10px;
}

.btnAddPost{
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: black;
  outline: none;
  
}

.btnAddPost:hover{
  color: black;
  background-color: #007cf0;
  transition: all .2s linear;
  transform: scale(1.1);
}

