/* LOGIN */
.loginMain{
    padding: 10px;
    text-align: center;
}
.width{
    width: 1140px;
}
.loginMain a{
    text-decoration: none;
    color: #007cf0;
}
.loginMain a:hover{
    text-decoration: underline;
}


/* LOGIN FORM */
.loginMain input{
    margin: 5px;
    padding: 10px;
    border: 1px solid #007cf0;
    border-radius: 5px;
}
.loginMain input:focus{
    outline: none;
    border-top: 2px solid #007cf0;
}
.loginMain button{
    color: aliceblue;
    background-color: #007cf0;
    border: 1px solid #007cf0;
    border-radius: 5px;
    height: 35px;
    width: 70px;
    margin: 5px;
}
.loginMain button:hover{
    background-color: #0e1220da;
    transition: all .2s ease-in-out;
}
.loginMain button:focus{
    outline: none;
}