/* REGISTER */
.loginMain{
    padding: 20px 40px;
    
}
.loginMain a{
    text-decoration: none;
    color: #007cf0;
}
.loginMain a:hover{
    text-decoration: underline;
}


/* ERROR */
.errorMessage {
    font-size: 14px;
    color: red;
    text-decoration: underline;
    font-weight: bold;
    padding: 0 20px;
}


/* REGISTER FORM */
.registerForm{
   
}
.loginMain input{
    margin: 5px;
    padding: 10px;
    border: 1px solid #007cf0;
    border-radius: 5px;
}
.loginMain input:focus{
    outline: none;
}
.loginMain button{
    color: aliceblue;
    background-color: #007cf0;
    border: 1px solid #007cf0;
    border-radius: 5px;
    height: 35px;
    width: 70px;
    margin: 5px;
}
.loginMain button:hover{
    background-color: #0e1220da;
    transition: all .2s ease-in-out;
}
.loginMain button:focus{
    outline: none;
}