.footer-container{
    width: 1240px;
    margin: 0 auto;
}
.footer-main {
    grid-area: footer;
    background-color: #0e1220ce;
    color: aliceblue;
    padding: 15px 0 20px 0;
}
.footer-main img{
    width: 400px;
    padding: 15px;
}
.copyright{
    padding-left: 30px;
    font-size: 20px;
}