.container{
    max-width: 1240px;
    margin: 0px auto;
    border: 1px solid rgba(29, 17, 17, 0.603);
    box-shadow: 0 0 5px rgba(29, 17, 17, 0.603);
}
.page{
    padding: 30px 20px 30px 50px;
}

.userImg a{
    cursor: pointer;
}
.userPhoto {
    height: 100px;
    width: 100px;
}

.userBlock{
    display: flex;
    padding: 15px 10px;
    align-items: center;

}


.pagesCount {
    font-size: 17px;
    padding: 10px 2px;
    cursor: pointer;
}

.selectedPage{
    color: #007cf0;
    font-weight: 700;
}

.userInfoBlock{
    cursor: default;
    padding-left: 20px;
}
.userInfoBlock a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.userInfoBlock a:hover{
    color: #007cf0;
    text-decoration: underline;
}
