/* REGISTER */
.registerMain{
    padding: 10px;
    text-align: center;
}
.width{
    width: 1140px;
}

.registerMain a{
    text-decoration: none;
    color: #007cf0;
}
.registerMain a:hover{
    text-decoration: underline;
}


/* ERROR */
.errorMessage {
    position: absolute;
    font-size: 14px;
    color: #ad0000;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.errorInput{
    border: 2px solid #ad0000;
}


/* REGISTER FORM */
.registerForm{
    display: inline-block;
    margin: 0 auto;
    text-align: left ;
}
.registerMain input{
    margin: 5px;
    padding: 10px;
    border: 1px solid #007cf0;
    border-radius: 5px;
    
}
.registerMain input:focus{
    outline: none;
    border-top: 2px solid #007cf0;
}

.registerForm button{
    color: aliceblue;
    background-color: #007cf0;
    border: 1px solid #007cf0;
    border-radius: 5px;
    height: 35px;
    width: 70px;
    margin: 5px;
}
.registerMain button:hover{
    background-color: #0e1220da;
    transition: all .2s ease-in-out;
}
.registerMain button:focus{
    outline: none;
}