.portalPhoto{
    height: 150px;
    width: 150px;
}
.page{
    background-color: rgba(0, 0, 0, 0);
}
.mediaBlock{
    padding: 5px 10px;
    position: relative;
    border-radius: 5px;
}
.imgBlock{
    border-radius: 5px;
    transition: transform .3s linear;
}
.imgBlock img{
    border-radius: 5px;
    display: block;
    transition: opacity .3s linear;
}
.btnPortals{
    margin: 10px 25px;
    background-color: #81e8f387;
    border: 1px solid #3a57afd0;
    border-radius: 5px;
    color: #3a57af;
    height: 36px;
    width: 90px;
    font-weight: bold;
    outline: none;
}
.portalInfoBlock{
    margin-bottom: 20px;
}