.bc{
  width: 100%; 
  height: 260px;
}
.profileHeader {
  display: flex;
  position: absolute;
  top: 150px;
  left: 420px;
  z-index: 100;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
  /* float: left; */
}
.shortInfo{
  display: inline-block;
}
.profileInfo{
  color: white;
  padding: 5px;
  margin: 0 0 15px 15px;
  background-color: #0e1220da;
}
.fullInfo{
  padding: 5px 20px;
}