.bc{
  width: 100%; 
  height: 260px;
}
.profileHeader {
  display: flex;
  position: absolute;
  top: 150px;
  left: 420px;
  z-index: 100;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: aliceblue;
  /* float: left; */
}


.shortInfo{
  display: inline-block;
}
.profileInfo{
  color: white;
  padding: 5px;
  margin: 0 0 15px 15px;
  background-color: #0e1220da;
}
.fullInfo{
  padding: 5px 20px;
}

.editProfile{
  position: absolute;
  top: 120px;
  right: 220px;
}
.editProfile a{
  font-weight: 500;
  padding: 7px 7px;
  border-radius: 5px;
  color: black;
  background-color: aliceblue;
  text-decoration: none;
}

.editProfile a:hover{
  background-color: black;
  color: aliceblue;
  transition: all .2s ease-in-out;
}

.avatarImage{
  transition: opacity .2s ease-in-out;
}

.updateImage{
  position: absolute;
  bottom: 10px;
  opacity: 0;
  z-index: 9999;
  transition: opacity .2s ease-in-out;
}
.updateImage a{
  background-image: url('../../../assets/images/white-photo-camera.svg');
  background-repeat: no-repeat;
  background-size: 23px;
  
  background-position: 15px 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 15px 7px 45px;
  border-radius: 5px;
  color: black;
  background-color: aliceblue;
  text-decoration: none;
}
.updateImage a:hover{
  background-image: url('../../../assets/images/black-photo-camera.svg');
  background-repeat: no-repeat;
  background-color: black;
  color: aliceblue;
  transition: all .2s ease-in-out;
}

.avatarImage:hover .updateImage{
  opacity: 1;
}