.container-block{
  max-width: 1240px;
  margin: 0 auto;
  border: 1px solid rgba(29, 17, 17, 0.603);
  box-shadow: 0 0 5px rgba(29, 17, 17, 0.603);
}
.profileHeader {
  padding: 50px 50px 30px 50px;
  display: flex;
  position: relative; 
  z-index: 2;
}
 
.display{
  display: none;
}

/* BACKGROUND IMAGE */
.bc{
  position: absolute;
  width: 1240px; 
  height: 260px;
  z-index: 1;
}
.editBackgroundImage{
  position: absolute;
  top: 160px;
  right: 170px;
  z-index: 9999;
  transition: opacity .2s ease-in-out;
}
.editBackgroundImage a{
  background-image: url('../../../assets/images/white-photo-camera.svg');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 15px 6px;
  font-weight: 500;
  padding: 7px 15px 7px 45px;
  border-radius: 5px;
  color: black;
  background-color: rgba(240, 248, 255, 0.6);
  text-decoration: none;
}

.editBackgroundImage a:hover{
  background-image: url('../../../assets/images/black-photo-camera.svg');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  transition: all .2s ease-in-out;
}




/* AVATAR */
.avatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-right: 30px;
  background-color: aliceblue;
}
.avatarImage{
  transition: opacity .2s ease-in-out;
}
.updateImage{
  position: absolute;
  bottom: 60px;
  opacity: 0;
  z-index: 9999;
  transition: opacity .2s ease-in-out;
}
.updateImage a{
  background-image: url('../../../assets/images/white-photo-camera.svg');
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 15px 5px;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 30px 7px 55px;
  border-radius: 5px;
  color: black;
  background-color: rgba(240, 248, 255, 0.9);
  text-decoration: none;
}
.updateImage a:hover{
  background-image: url('../../../assets/images/black-photo-camera.svg');
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  transition: all .2s ease-in-out;
}
.avatarImage:hover .updateImage{
  opacity: 1;
}




/* PROFILE INFO */
.shortInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.profileInfo{
  color: white;
  padding: 5px;
  margin: 0 0 15px 15px;
  background-color: #0e1220da;
}
.fullInfo{
  position: absolute;
  right: 200px;
  padding: 5px 50px;
}
.fullInfo h2{
  margin: 10px 0;
}