.container-block{
    max-width: 1240px;
    margin: 0 auto;
    border: 1px solid rgba(29, 17, 17, 0.603);
    box-shadow: 0 0 5px rgba(29, 17, 17, 0.603);
}

.upload div{
    padding: 10px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.upload img{
    width: 400px;
}
.upload input{
    padding: 20px;
}
